.entity-index {
  & > .q-card {
    border-radius: 8px;
    & > .q-card__section {
      padding: 0;
      & > .q-expansion-item {
        & > .q-expansion-item__container {
          & > .q-item {
            display: none;
          }
        }
      }
    }
    .entity-crud-formBuilder {
      margin-bottom: 11px;
      padding: 16px;
    }
    .quasar-crud-index-table {
      padding: 0;
    }
  }
}
