.q-field {
  .q-field__inner {
    .q-field__control {
      height: 48px;
      min-height: 48px;
      &:before {
        background: #FFFFFF 0 0 no-repeat padding-box;
        border: 1px solid #DFE1EC;
        border-radius: 8px;
      }
      .q-field__control-container {
        input.q-field__native {
          padding: 6px 23px;
        }
        .q-field__label {
          font-size: 15px;
          letter-spacing: 0;
          color: #B4B1B1;
          margin-left: 23px;
          top: 14px;
        }
      }
    }
  }
  &.q-textarea {
    .q-field__inner {
      .q-field__control {
        height: auto;
        min-height: 48px;
      }
    }
  }
}
