.form-builder-select-col {
  .q-field {
    .q-field__native {
      padding-left: 23px;
    }
  }
}

.q-menu.q-position-engine {
  .q-item.q-item--active {
    background-color: #c6c6c6;
    color: white;
    border-bottom: solid 1px #a2a2a2;
  }
}
