.form-builder-select-col {
  .q-field {
    .q-field__inner {
      .q-field__control {
        .q-field__control-container {
          padding-top: 5px;
        }
        .q-field__append {
          height: 48px;
          min-height: 48px;
        }
      }
    }
    .q-field__native {
      padding-left: 23px;
    }
  }
}

.q-menu.q-position-engine {
  .q-item.q-item--active {
    background-color: #c6c6c6;
    color: white;
    border-bottom: solid 1px #a2a2a2;
  }
}
