.form-builder-separator-col {
  .custom-separator {
    position: relative;
    padding-left: 12px;
    height: 23px;
    margin-top: 30px;
    &:before {
      content: ' ';
      position: absolute;
      left: 0;
      top: 0;
      width: 4px;
      height: 100%;
      background: #EAC38A;
      border-radius: 2px;
    }
    hr {
      display: none;
    }
  }
}
