.q-select {
  .q-field__inner {
    .q-field__control {
      .q-field__prepend {
        padding-left: 12px;
        height: 100%;
      }
      .q-field__control-container {
        padding-top: 0;
        .q-field__native {
          min-height: 48px;
          padding-left: 20px;
        }
      }
      .q-field__append {
        padding-right: 12px;
        height: 100%;
      }
    }
  }
}
